<div>
  <app-green></app-green>
  <app-red></app-red>
  <app-yellow></app-yellow>
</div>
<h2>Input Server Information</h2>
<input type="text" placeholder="Server Name" [(ngModel)] = "ServerName">
<input type="text" placeholder="Server Name" [ngModel] = "ServerName">
<h3>Display Server Information</h3>
<p>{{ServerName}}</p>
<p>{{ServerPID}}</p>
<p>{{ServerStatus}}</p>
<p>Server name {{ Servername}} with Pid {{ServerPID}} is {{ServerStatus}}</p>
<button [disabled]="buttonState" (click)="toggleServerStatus()" >Toggle Server Status</button>
<br/>
<br/>
<h1 [ngStyle]="{color: getColor()}">This is an example of ngIf</h1>
<h2 [ngClass]="{'white': getColor() === 'green'}">This is an example of ngClass</h2>
<p *ngIf="flag; else elseblock">Flag is true</p>
<ng-template #elseblock>
  <p>Flag is false</p>
</ng-template>

<button (click)="toggleFlag()">Toggle Flag</button>
<br/>
<br/>
<h1>Student Roster</h1>
<input type="text" placeholder="name" [(ngModel)]="currentName">
<button (click)="add()">Submit Student Name</button>
<li *ngFor="let names of studentRoster">{{names}}</li>